<div class="copyright">
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.author %></a>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.title %></a>
  <% } %>
</div>
<div class="theme-copyright">
  Theme by <a href="https://github.com/orderedlist" target="_blank">orderedlist</a>
   | 
  Redesign by <a href="http://blog.dafengning.com/" target="_blank">Chong Zi</a>
</div>
<span id="busuanzi_container_site_pv">
    本站总访问量<span id="busuanzi_value_site_pv"></span>次
</span>
<div class="clearfix"></div>
<script async src="http://78rbbi.com1.z0.glb.clouddn.com/busuanzi.pure.mini.js">
</script>
