<% if (page.prev || page.next){ %>
<div class="pagepart clearfix">
  <% if (page.next){ %>
    <a href="<%- config.root %><%- page.next.path %>" class="alignleft prev" title="<%= page.next.title %>"><%= page.next.title %></a>
  <% } %>
  <% if (page.prev){ %>
    <a href="<%- config.root %><%- page.prev.path %>" class="alignright next" title="<%= page.prev.title %>"><%= page.prev.title %></a>
  <% } %>  
</div>
<% } %>
